
*{
  padding: 0;
  margin: 0;
}
.search-bar{
  padding: 10px;
  float: right;
  /* width: 100px; */
}
select{
  width: 250px;
  height: 35px;
  border-radius: 10px;
  background-color: bisque;
}
 








